# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
out/
dist/
build/
.turbo/
.expo/
.expo-shared/
web-build/
ios/
android/

# env
.env
.env.local
.env.*.local
!.env.example

# testing
coverage/
playwright-report/
test-results/
.detoxrc.local.js

# storybook
storybook-static/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# prisma
api/prisma/migrations/dev.db*
api/src/generated/

# misc
*.pem
.env.vault
